<div>
	<div ng-click="setActive(node)">
		{{node | nodesummary}}
		<div class="btn btn-xs" ng-click="remove(node)"
			ng-show="node != mainData.rootNode">
			<span class="glyphicon glyphicon-remove"></span>
		</div>
		<div class='nodedetail' ng-show="isActive(node)"
			ng-include="mainData.activeNode | detailurl"></div>
	</div>
	<div class="btn btn-xs" ng-click="setActive(add(node))"
		ng-show="canHaveChildren(node)">
		<span class="glyphicon glyphicon-plus"></span>
	</div>
	<ul class="treeNode">
		<li class="treeNode nav-tabs-justified" ng-repeat="node in node.nodes"
			ng-include="'views/match_tree/match_tree_node.html'"></li>
	</ul>	
</div>