<div class="row-fluid" mouse-capture>
	<div class="col-md-3 column">
		<div class="btn btn-primary" ng-repeat="ds in datasources" draggable dragdata="ds.name">{{ds.name}}</div>
	</div>
 	<div class="col-md-9 column">
 		<div class="row well">
 			<svg width="100%"  height="275" droppable drop="dropped"  ng-mousemove="mouseMove($event)">
 				<line ng-repeat="ln in links" ng-attr-x1="{{ln.src.x}}" ng-attr-y1="{{ln.src.y}}" ng-attr-x2="{{ln.dst.x}}" ng-attr-y2="{{ln.dst.y}}" class="bnq_link" ng-class="overLink(ln)" ng-class="selectedLink(ln)" ng-mouseDown="lineMouseDown($event,ln)"/>
				<line ng-model="selectLine" ng-attr-x1="{{selectLine.x1}}" ng-attr-y1="{{selectLine.y1}}" ng-attr-x2="{{selectLine.x2}}" ng-attr-y2="{{selectLine.y2}}" class="bnq_drag_line" />
 				<circle ng-mousedown="ringMouseDown($event, ds)" ng-repeat="ds in activeDS" ng-attr-cx="{{ds.x}}" ng-attr-cy="{{ds.y}}" r="20" class="bnq_ds_ring"></circle>
 				<circle ng-mousedown="nodeMouseDown($event, ds)" ng-repeat="ds in activeDS" ng-attr-cx="{{ds.x}}" ng-attr-cy="{{ds.y}}" r="10" ng-class="selectedDS == ds ? 'bnq_ds_selected' : 'bnq_ds_circle'"></circle>
 			</svg>
 		</div>
 		<div class="row">
 			<div id="detail" ng-model="selectedDS" ng-show="selectedDS != null">{{selectedDS | json}}</div>
			<div id="detail" ng-model="selectedLine" ng-show="selectedLine != null">{{selectedLine | json}}</div>
 		</div>
	</div> 
 	
 
 </div>
