<div ng-controller="TrackController">

    <h2>Tracks for {{datasource.name}}</h2>

    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#saveTrackModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Track
    </button>
    <div class="modal fade" id="saveTrackModal" tabindex="-1" role="dialog" aria-labelledby="myTrackLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTrackLabel">Create or edit a Track</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="track.id" readonly>
                        </div>

  						<div class="form-group">
							<label>Graph name</label> <input type="text" class="form-control"
								name="graph-name" ng-model="track.graphName" ng-minlength=1
								ng-maxlength=50 ng-disabled="isLocal(datasource)">
						</div>

  						<div class="form-group">
							<label>Name</label> <input type="text" class="form-control"
								name="name" ng-model="track.name" ng-minlength=1
								ng-maxlength=500 required >
						</div>
						<div class="form-group">
							<label>Type</label> 
							<term-tree-picker select-handler="termsPicked" 
								source-endpoint="{{staticEndpoint}}"
								source-graph="http://purl.obolibrary.org/obo/so.owl"
								search-filter="searchFilter" 
								multi-valued='true' ng-model="track.type"> 
							</term-tree-picker>
						</div>
						<input type="hidden" ng-model="track.status">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
	
	

	<div class="modal fade" id="manageTrackModal" tabindex="-1"
		role="dialog" aria-labelledby="myTrackLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" ng-click="clear()">&times;</button>
					<h4 class="modal-title" id="myTrackLabel">Manage
						Track</h4>
				</div>
				<div class="modal-body">
					<h3>Raw data files</h3>

					<span class="btn btn-primary btn-sm btn-file"> <span
						class="glyphicon glyphicon-file"></span> Add files... <input
						type="file" nv-file-select uploader="uploader" multiple>
					</span>

					<table class="table">
						<thead>
							<tr>
								<th width="50%">Path</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="rawDataFile in managedtrack.rawDataFiles">
								<td>{{rawDataFile.filePath}}</td>
								<td>{{rawDataFile.status | dfstatus}}</td>
								<td>
									<div class="btn btn-danger btn-xs"
										ng-click="removefile(rawDataFile.id)">
										<span class="glyphicon glyphicon-trash"></span> Remove
									</div>
									<div class="btn btn-default btn-xs"
										ng-click="startconversion(rawDataFile.id)" ng-show='rawDataFile.status != 1'>
										<span class="glyphicon glyphicon-filter"></span> Process
									</div>
								</td>
							</tr>
						</tbody>
					</table>

					<h3 ng-show='uploader.queue.length'>Upload queue</h3>

					<table ng-show='uploader.queue.length' class="table">
						<thead>
							<tr>
								<th width="50%">Name</th>
								<th ng-show="uploader.isHTML5">Size</th>
								<th ng-show="uploader.isHTML5">Progress</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in uploader.queue">
								<td><strong>{{ item.file.name }}</strong></td>
								<td ng-show="uploader.isHTML5" nowrap>{{
									item.file.size/1024/1024|number:2 }} MB</td>
								<td ng-show="uploader.isHTML5">
									<div class="progress" style="margin-bottom: 0;">
										<div class="progress-bar" role="progressbar"
											ng-style="{ 'width': item.progress + '%' }"></div>
									</div>
								</td>
								<td class="text-center"><span ng-show="item.isSuccess"><i
										class="glyphicon glyphicon-ok"></i></span> <span
									ng-show="item.isCancel"><i
										class="glyphicon glyphicon-ban-circle"></i></span> <span
									ng-show="item.isError"><i
										class="glyphicon glyphicon-remove"></i></span></td>
								<td nowrap>
									<button type="button" class="btn btn-success btn-xs"
										ng-click="item.upload()"
										ng-disabled="item.isReady || item.isUploading || item.isSuccess">
										<span class="glyphicon glyphicon-upload"></span> Upload
									</button>
									<button type="button" class="btn btn-warning btn-xs"
										ng-click="item.cancel()" ng-disabled="!item.isUploading">
										<span class="glyphicon glyphicon-ban-circle"></span> Cancel
									</button>
									<button type="button" class="btn btn-danger btn-xs"
										ng-click="item.remove()">
										<span class="glyphicon glyphicon-trash"></span> Remove
									</button>
								</td>
							</tr>
						</tbody>
					</table>
					<div ng-show='uploader.queue.length'>
						<div>
							Queue progress:
							<div class="progress" style="">
								<div class="progress-bar" role="progressbar"
									ng-style="{ 'width': uploader.progress + '%' }"></div>
							</div>
						</div>
						<button type="button" class="btn btn-success btn-s"
							ng-click="uploader.uploadAll()"
							ng-disabled="!uploader.getNotUploadedItems().length">
							<span class="glyphicon glyphicon-upload"></span> Upload all
						</button>
						<button type="button" class="btn btn-warning btn-s"
							ng-click="uploader.cancelAll()"
							ng-disabled="!uploader.isUploading">
							<span class="glyphicon glyphicon-ban-circle"></span> Cancel all
						</button>
						<button type="button" class="btn btn-danger btn-s"
							ng-click="uploader.clearQueue()"
							ng-disabled="!uploader.queue.length">
							<span class="glyphicon glyphicon-trash"></span> Remove all
						</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="clear()">
						<span class="glyphicon glyphicon-ban-circle"></span> Close
					</button>
				</div>
			</div>
		</div>
	</div>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="track in datasource.tracks">
                    <td>{{track.id}}</td>
                    <td>{{track.status | trackstatus}}</td>
                    <td>{{track.name}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(track.id)"
                                class="btn">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
  						<button type="submit" ng-click="manage(track)"
							ng-show="canmanage(track)" class="btn">
							<span class="glyphicon glyphicon-remove-circle"></span> Manage raw data
						</button>
                        <button type="submit"
                                ng-click="delete(track.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
