<div ng-controller="TrackController">

	<h2>Tracks for {{datasource.name}}</h2>

	<button class="btn btn-primary btn-sm" data-toggle="modal"
		data-target="#saveTrackModal" ng-click="clear()">
		<span class="glyphicon glyphicon-flash"></span> Create a new Track
	</button>
	<div class="modal fade" id="saveTrackModal" tabindex="-1" role="dialog"
		aria-labelledby="myTrackLabel" aria-hidden="true">
		<h4 class="modal-title" id="myTrackLabel"></h4>
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="trackForm" role="form" novalidate
					class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
					ng-submit="create()">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="clear()">&times;</button>
						<h4 class="modal-title" id="myTrackLabel">Create or edit a
							Track</h4>
					</div>
					<div class="modal-body">
					
					
						<div class="form-group">
							<label>Name</label> <input type="text" class="form-control"
								name="trackName" ng-model="track.name" ng-minlength=1
								ng-maxlength=200>
						</div>
						
						<div class="form-group">
							<label>ID</label> <input type="text" class="form-control"
								name="id" ng-model="track.id" readonly>
						</div>

						<div class="form-group">
							<label>Graph name</label> <input type="text" class="form-control"
								name="graphName" ng-model="track.graphName" ng-minlength=1
								ng-maxlength=200 ng-disabled="isLocal(datasource)">
						</div>

						<div class="form-group">
							<label>Entry Count</label> <input type="text"
								class="form-control" name="entryCount"
								ng-model="track.entryCount" readonly>
						</div>

						<div class="form-group">
							<label>Feature Count</label> <input type="text"
								class="form-control" name="featureCount"
								ng-model="track.featureCount" readonly>
						</div>

						<div class="form-group">
							<label>Triple Count</label> <input type="text"
								class="form-control" name="tripleCount"
								ng-model="track.tripleCount" readonly>
						</div>

						<div class="form-group">
							<label>File Format</label> <input type="text"
								class="form-control" name="fileFormat" ng-model="track.fileType"
								readonly>
						</div>


						<div class="form-group">
							<label>Feature Types</label> <input type="text"
								class="form-control" name="fileFormat" ng-model="track.type"
								readonly>
						</div>


						<div class="form-group">
							<label>Species</label> <input type="text" class="form-control"
								name="trackSpecies" ng-disbaled="true" ng-model="track.species"
								ng-minlength=1 ng-maxlength=200 readonly>
						</div>
						<div class="form-group">
							<label>Assembly</label> <input type="text" class="form-control"
								name="trackAssembly" ng-disbaled="true"
								ng-model="track.assembly" ng-minlength=1 ng-maxlength=200
								readonly>
						</div>


						<input type="hidden" ng-model="track.status" name="status">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span> Cancel
						</button>
						<button type="submit" ng-disabled="trackForm.$invalid"
							class="btn btn-primary" ng-click="active=null">
							<span class="glyphicon glyphicon-save"></span> Save
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="processTrackModal" tabindex="-1"
		role="dialog" aria-labelledby="myTrackLabel" aria-hidden="true">
		<h4 class="modal-title" id="myTrackLabel"></h4>
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="trackForm" role="form" novalidate
					class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="clear()">&times;</button>
						<h4 class="modal-title" id="myProcessLabel">Converter Options</h4>
					</div>

					<div class="modal-body">
						<h4 class="modal-title" id="myMappingLabel"><b>Mapping Options</b></h4>
						<hr>
							<div class="form-group" ng-show="species==null">
								<label>Species</label> <select name="species"
									ng-model="track.species" class="form-control"
									ng-disabeled="track.species"
									ng-change="getAssemblies(track.species)"
									ng-options="item.label as item.label for item in speciesList">
									<option value=track.species>track.species</option>
								</select>
							</div>
							<div class="form-group" ng-show="assembly==null">
								<label>Assembly</label> <select name="assembly"
									ng-model="track.assembly" class="form-control"
									ng-disabeled="track.assembly"
									ng-options="item.label as item.label for item in assemblyList">
									<option value="track.assembly">track.species</option>
								</select>
							</div>
						
							<div class="form-group" ng-show="species">
								<label>Species</label> <input type="text" class="form-control"
									name="trackSpecies" ng-disbaled="true" ng-model="track.species"
									ng-minlength=1 ng-maxlength=200 readonly>
							</div>
							<div class="form-group" ng-show="assembly">
								<label>Assembly</label> <input type="text" class="form-control"
									name="trackAssembly" ng-disbaled="true"
									ng-model="track.assembly" ng-minlength=1 ng-maxlength=200
									readonly>
							</div>

						<div class="form-group">
							<label>Prefix Contig</label> <input type="text"
								class="form-control" name="contigPrefix"
								ng-model="track.contigPrefix" ng-minlength=1 ng-maxlength=200>
							<p>e.g. {{track.contigPrefix}}1 is mapped as
								http://www.boinq.org/resource/{{track.species}}/{{track.assembly}}/1</p>
						</div>
						
						<div ng-show="fileType=='bed'">
						<hr>
						<h4 class="modal-title" id="myFeatureTypeLabel"><b>Feature Types Options</b></h4>
						<hr>
						
						<div class="form-group">
							<label>Type</label>
							<term-tree-picker modal-id="mainTypePicker" select-handler="mainTypePicker"
								source-endpoint="{{staticEndpoint}}"
								source-graph="http://purl.obolibrary.org/obo/so-xp.obo"
								search-filter="searchFilter" multi-valued='false'
								form-field-name="mainType" ng-model="mainType">
							</term-tree-picker>
						</div>
						<div class="form-group" ng-show="mainType!=null">
							<label>SubType</label>
							<term-tree-picker ng-show="mainType!=null" modal-id="subTypePicker" select-handler="subTypePicker"
								source-endpoint="{{staticEndpoint}}"
								source-graph="http://purl.obolibrary.org/obo/so-xp.obo"
								search-filter="searchFilter" multi-valued='false'
								form-field-name="mainType" ng-model="subType">
							</term-tree-picker>
						</div>

						</div>

					</div>
					
					
					

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span> Cancel
						</button>
						<button type="button" ng-disabled="track.assembly==null || track.species==null"
							class="btn btn-primary" ng-click="startconversion(rawDataFile)">
							<span class="glyphicon glyphicon-save"></span>Start Conversion
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>



	<div class="modal fade ng-scope" ng-submit="create()"
		id="manageTrackModal" tabindex="-1" role="dialog"
		aria-labelledby="myTrackLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" ng-click="clear()">&times;</button>
					<h4 class="modal-title" id="myTrackLabel">Manage Track</h4>
				</div>
				<div class="modal-body">
					<h3>Raw data files</h3>
					<h5 ng-show="managedtrack.fileType">Required file format: {{managedtrack.fileType}}</h5>

					<span width="50%" class="btn btn-primary btn-sm btn-file"> <span
						class="glyphicon glyphicon-file"></span> Add files... <input
						type="file" nv-file-select uploader="uploader" multiple>
					</span>
					
					<table class="table">
						<thead>
							<tr>
								<th width="50%">Path</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="rawDataFile in managedtrack.rawDataFiles">
								<td>{{rawDataFile.filePath}}</td>
								<td>{{rawDataFile.status | dfstatus}}</td>
								<td>
									<div class="btn btn-danger btn-xs" ng-disabled="rawDataFile.status==1"
										ng-click="removefile(rawDataFile.id)">
										<span class="glyphicon glyphicon-trash"></span> Remove
									</div>
									<div class="btn btn-default btn-xs"
										ng-click="process(managedtrack.id, rawDataFile.id, rawDataFile.filePath); getMappings(); retrieveMapping()"
										;
										ng-show='rawDataFile.status != 1'>
										<span class="glyphicon glyphicon-filter"></span> Process
									</div>
								</td>
							</tr>
						</tbody>
					</table>

					<h3 ng-show='uploader.queue.length'>Upload queue</h3>

					<table ng-show='uploader.queue.length' class="table">
						<thead>
							<tr>
								<th width="50%">Name</th>
								<th ng-show="uploader.isHTML5">Size</th>
								<th ng-show="uploader.isHTML5">Progress</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in uploader.queue">
								<td><strong>{{ item.file.name }}</strong></td>
								<td ng-show="uploader.isHTML5" nowrap>{{
									item.file.size/1024/1024|number:2 }} MB</td>
								<td ng-show="uploader.isHTML5">
									<div class="progress" style="margin-bottom: 0;">
										<div class="progress-bar" role="progressbar"
											ng-style="{ 'width': item.progress + '%' }"></div>
									</div>
								</td>
								<td class="text-center"><span ng-show="item.isSuccess"><i
										class="glyphicon glyphicon-ok"></i></span> <span
									ng-show="item.isCancel"><i
										class="glyphicon glyphicon-ban-circle"></i></span> <span
									ng-show="item.isError"><i
										class="glyphicon glyphicon-remove"></i></span></td>
								<td nowrap>
									<button type="button" class="btn btn-success btn-xs"
										ng-click="item.upload()"
										ng-disabled="item.isReady || item.isUploading || item.isSuccess">
										<span class="glyphicon glyphicon-upload"></span> Upload
									</button>
									<button type="button" class="btn btn-warning btn-xs"
										ng-click="item.cancel()" ng-disabled="!item.isUploading">
										<span class="glyphicon glyphicon-ban-circle"></span> Cancel
									</button>
									<button type="button" class="btn btn-danger btn-xs"
										ng-click="item.remove()">
										<span class="glyphicon glyphicon-trash"></span> Remove
									</button>
								</td>
							</tr>
						</tbody>
					</table>
					<div ng-show='uploader.queue.length'>
						<div>
							Queue progress:
							<div class="progress" style="">
								<div class="progress-bar" role="progressbar"
									ng-style="{ 'width': uploader.progress + '%' }"></div>
							</div>
						</div>
						<button type="button" class="btn btn-success btn-s"
							ng-click="uploader.uploadAll()"
							ng-disabled="!uploader.getNotUploadedItems().length">
							<span class="glyphicon glyphicon-upload"></span> Upload all
						</button>
						<button type="button" class="btn btn-warning btn-s"
							ng-click="uploader.cancelAll()"
							ng-disabled="!uploader.isUploading">
							<span class="glyphicon glyphicon-ban-circle"></span> Cancel all
						</button>
						<button type="button" class="btn btn-danger btn-s"
							ng-click="uploader.clearQueue()"
							ng-disabled="!uploader.queue.length">
							<span class="glyphicon glyphicon-trash"></span> Remove all
						</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="clear()">
						<span class="glyphicon glyphicon-ban-circle"></span> Close
					</button>
				</div>
			</div>
		</div>
	</div>


	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Status</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="track in datasource.tracks">
					<td>{{track.id}}</td>
					<td>{{track.status | trackstatus}}</td>
					<td>{{track.name}}</td>
					<td>
						<button type="submit" ng-click="update(track.id)" class="btn">
							<span class="glyphicon glyphicon-pencil"></span> Overview
						</button>
						<button type="submit" ng-click="manage(track.id)" class="btn"
							ng-show="canmanage(track)" class="btn">
							<span class="glyphicon glyphicon-remove-circle"></span> Manage
							raw data
						</button>
						<button type="submit" ng-click="delete(track.id)"
							class="btn btn-danger">
							<span class="glyphicon glyphicon-remove-circle"></span> Delete
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
