target
node
node_modules
.idea
*.iml
.classpath
.project
.settings
.tmp
.merge_file*
.sass-cache
.DS_Store
external_dependencies/*
!external_dependencies/download_and_build.sh
!external_dependencies/lib
external_dependencies/lib/*
src/main/webapp/dist
!fuseki/trackTDB
fuseki/trackTDB/*
!files
files/*
