<div>

	<h2>Datasources</h2>

	<button class="btn btn-primary btn-sm" data-toggle="modal"
		data-target="#saveDatasourceModal" ng-click="clear()">
		<span class="glyphicon glyphicon-flash"></span> Create a new
		Datasource
	</button>
	<div class="modal fade" id="saveDatasourceModal" tabindex="-1"
		role="dialog" aria-labelledby="myDatasourceLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="form" role="form" novalidate
					class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
					ng-submit="create()">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="clear()">&times;</button>
						<h4 class="modal-title" id="myDatasourceLabel">Create or edit
							a Datasource</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>ID</label> <input type="text" class="form-control"
								name="id" ng-model="datasource.id" readonly>
						</div>

						<div class="form-group">
							<label>Endpoint url</label> <input type="text"
								class="form-control" name="endpoint_url"
								ng-model="datasource.endpointUrl" ng-minlength=1 ng-maxlength=50
								required>
						</div>

						<div class="form-group">
							<label>Graph name</label> <input type="text"
								class="form-control" name="graph-name"
								ng-model="datasource.graphName" ng-minlength=1 ng-maxlength=50
								required>
						</div>
						
						<div class="form-group">
							<label>Name</label> <input type="text"
								class="form-control" name="name"
								ng-model="datasource.name" ng-minlength=1 ng-maxlength=50
								required>
						</div>
						
						<div class="form-group">
							<label>Type</label>
							<select name="type" ng-model="datasource.type" class="form-control">
								<option ng-repeat="(key,value) in typeItems" ng-selected="key == datasource.type" value="{{key}}">{{value}}</option>
							</select>
							
						</div>

						<div class="form-group">
							<label>Public datasource </label> 
							<input type="checkbox" ng-model="datasource.isPublic">
						</div>
						
						<input type="hidden" ng-model="datasource.ownerLogin">
						<input type="hidden" ng-model="datasource.status">

					</div>
					
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span> Cancel
						</button>
						<button type="submit" ng-disabled="form.$invalid"
							class="btn btn-primary">
							<span class="glyphicon glyphicon-save"></span> Save
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Endpoint url</th>
					<th>Type</th>
					<th>Name</th>
					<th>Public</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="datasource in datasources">
					<td>{{datasource.id}}</td>
					<td>{{datasource.endpointUrl}}</td>
					<td>{{datasource.type | dstype}}</td>
					<td>{{datasource.name}}</td>
					<td><input type="checkbox" ng-model="datasource.isPublic" disabled></td>
					<td>
						<button type="submit" ng-click="update(datasource.id)" class="btn">
							<span class="glyphicon glyphicon-pencil"></span> Edit
						</button>
 						<button type="submit" ng-click="manage(datasource)" ng-show="canmanage(datasource)"
							class="btn">
							<span class="glyphicon glyphicon-remove-circle"></span> Manage
						</button>
 						<button type="submit" ng-click="delete(datasource.id)"
							class="btn btn-danger">
							<span class="glyphicon glyphicon-remove-circle"></span> Delete
						</button>
						
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="row" uploader="uploader" ng-show="canupload(manageddatasource)">

		<div class="col-md-3">

			<div>
				<input type="file" nv-file-select="" uploader="uploader" multiple /><br />

			</div>

		</div>

		
		<div class="col-md-9" style="margin-bottom: 40px">

			<h3>Upload queue</h3>
			<p>Queue length: {{ uploader.queue.length }}</p>

			<table class="table">
				<thead>
					<tr>
						<th width="50%">Name</th>
						<th ng-show="uploader.isHTML5">Size</th>
						<th ng-show="uploader.isHTML5">Progress</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in uploader.queue">
						<td><strong>{{ item.file.name }}</strong></td>
						<td ng-show="uploader.isHTML5" nowrap>{{
							item.file.size/1024/1024|number:2 }} MB</td>
						<td ng-show="uploader.isHTML5">
							<div class="progress" style="margin-bottom: 0;">
								<div class="progress-bar" role="progressbar"
									ng-style="{ 'width': item.progress + '%' }"></div>
							</div>
						</td>
						<td class="text-center"><span ng-show="item.isSuccess"><i
								class="glyphicon glyphicon-ok"></i></span> <span
							ng-show="item.isCancel"><i
								class="glyphicon glyphicon-ban-circle"></i></span> <span
							ng-show="item.isError"><i
								class="glyphicon glyphicon-remove"></i></span></td>
						<td nowrap>
							<button type="button" class="btn btn-success btn-xs"
								ng-click="item.upload()"
								ng-disabled="item.isReady || item.isUploading || item.isSuccess">
								<span class="glyphicon glyphicon-upload"></span> Upload
							</button>
							<button type="button" class="btn btn-warning btn-xs"
								ng-click="item.cancel()" ng-disabled="!item.isUploading">
								<span class="glyphicon glyphicon-ban-circle"></span> Cancel
							</button>
							<button type="button" class="btn btn-danger btn-xs"
								ng-click="item.remove()">
								<span class="glyphicon glyphicon-trash"></span> Remove
							</button>
						</td>
					</tr>
				</tbody>
			</table>

			<div>
				<div>
					Queue progress:
					<div class="progress" style="">
						<div class="progress-bar" role="progressbar"
							ng-style="{ 'width': uploader.progress + '%' }"></div>
					</div>
				</div>
				<button type="button" class="btn btn-success btn-s"
					ng-click="uploader.uploadAll()"
					ng-disabled="!uploader.getNotUploadedItems().length">
					<span class="glyphicon glyphicon-upload"></span> Upload all
				</button>
				<button type="button" class="btn btn-warning btn-s"
					ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
					<span class="glyphicon glyphicon-ban-circle"></span> Cancel all
				</button>
				<button type="button" class="btn btn-danger btn-s"
					ng-click="uploader.clearQueue()"
					ng-disabled="!uploader.queue.length">
					<span class="glyphicon glyphicon-trash"></span> Remove all
				</button>
			</div>

		</div>


	</div>
</div>
