<div>

	<h2>Datasources</h2>

	<button class="btn btn-primary btn-sm" data-toggle="modal"
		data-target="#saveDatasourceModal" ng-click="clear()">
		<span class="glyphicon glyphicon-flash"></span> Create a new
		Datasource
	</button>
	<div class="modal fade" id="saveDatasourceModal" tabindex="-1"
		role="dialog" aria-labelledby="myDatasourceLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="form" role="form" novalidate
					class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
					ng-submit="create()">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="clear()">&times;</button>
						<h4 class="modal-title" id="myDatasourceLabel">Create or edit
							a Datasource</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>ID</label> <input type="text" class="form-control"
								name="id" ng-model="datasource.id" readonly>
						</div>

						<div class="form-group">
							<label>Endpoint url</label> <input type="text"
								class="form-control" name="endpoint_url"
								ng-model="datasource.endpointUrl" ng-minlength=1 ng-maxlength=50
								required ng-disabled="isLocal(datasource)">
						</div>

						<div class="form-group">
							<label>Endpoint update url</label> <input type="text"
								class="form-control" name="endpoint_update_url"
								ng-model="datasource.endpointUpdateUrl" ng-minlength=1 ng-maxlength=50
								required ng-disabled="isLocal(datasource)">
						</div>

						<div class="form-group">
							<label>Meta graph name</label> <input type="text" class="form-control"
								name="graph-name" ng-model="datasource.metaGraphName" ng-minlength=1
								ng-maxlength=50 required ng-disabled="isLocal(datasource)">
						</div>

						<div class="form-group">
							<label>Name</label> <input type="text" class="form-control"
								name="name" ng-model="datasource.name" ng-minlength=1
								ng-maxlength=50 required>
						</div>

						<div class="form-group">
							<label>IRI</label> <input type="text" class="form-control"
								name="name" ng-model="datasource.iri" ng-minlength=1
								ng-maxlength=50 required>
						</div>

						<div class="form-group">
							<label>Type</label> <select name="type"
								ng-model="datasource.type" class="form-control">
								<option ng-repeat="(key,value) in typeItems"
									ng-selected="key == datasource.type" value="{{key}}">{{value}}</option>
							</select>

						</div>

						<div class="form-group">
							<label>Public datasource </label> <input type="checkbox"
								ng-model="datasource.isPublic" value="false">
						</div>

						<input type="hidden" ng-model="datasource.ownerLogin"> 

					</div>


					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span> Cancel
						</button>
						<button type="submit" ng-disabled="form.$invalid"
							class="btn btn-primary">
							<span class="glyphicon glyphicon-save"></span> Save
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Endpoint url</th>
					<th>Type</th>
					<th>Name</th>
					<th>Public</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="datasource in datasources">
					<td>{{datasource.id}}</td>
					<td>{{datasource.name}}</td>
					<td>{{datasource.type | dstype}}</td>
					<td><input type="checkbox" ng-model="datasource.isPublic"
						disabled></td>
					<td>
						<button type="submit" ng-click="update(datasource.id)" ng-disabled='manageddatasource != null' class="btn">
							<span class="glyphicon glyphicon-pencil"></span> Edit
						</button>
						<button type="submit" ng-click="manage(datasource)"
							ng-show="canmanage(datasource)" ng-disabled='manageddatasource == datasource' class="btn">
							<span class="glyphicon glyphicon-remove-circle"></span> Tracks
						</button>
						<button type="submit" ng-click="delete(datasource.id)"
							ng-disabled='manageddatasource != null' class="btn btn-danger">
							<span class="glyphicon glyphicon-remove-circle"></span> Delete
						</button>

					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!--  when using ng-show: controllers fails on datasource being null and script not loaded -->
	<div ng-show='manageddatasource != null'> 
		<track-view bind-datasource='manageddatasource'></track-view>
	</div>
		
</div>
