<div>

	<div class="row">

		<h2>Query</h2>

		<a ui-sref="querydefinition">
			<button class="btn btn-primary btn-sm" ng-click="clear()">
				<span class="glyphicon glyphicon-fast-backward"></span> To Overview
			</button>
		</a>

	</div>

	<form>

		<div class="row">
			<div class="form-group">
				<label>Name</label> <input type="text" class="form-control"
					name="name" ng-model="queryDefinition.name" ng-minlength=1
					ng-maxlength=250 ng-required="true">
			</div>
			<div class="form-group">
				<label>Description</label> <input type="text" class="form-control"
					name="description" ng-model="queryDefinition.description" ng-minlength=1
					ng-maxlength=250 ng-required="false">
			</div>
			<div class="form-group">
				<label>Target Graph</label> <input type="text" class="form-control"
					name="targetGraph" ng-model="queryDefinition.targetGraph" ng-minlength=1
					ng-maxlength=250 ng-required="false">
			</div>
			<div class="form-group">
				<label>Result as table <input type="checkbox" 
					name="targetGraph" ng-model="queryDefinition.resultAsTable" ng-required="true" /></label>
			</div>
			
 		</div>


		<div class="row">

			<div class="col-md-3 column">
						
				<div class="row">Drag GraphTemplate to canvas</div>
				
				
				<div class="row" ng-repeat="ds in datasources">
					<div>Datasource {{ds.name}} :</div>
					<div class="btn btn-primary"  ng-repeat="track in ds.tracks"
						draggable dragdata="track.id">{{track.name}}</div>
				</div>
				
				
			</div>			
			<div class="col-md-9 column">
			
				<div class="row">
					<queryrenderer selection="selection" query-definition="queryDefinition" datasources="datasources"></queryrenderer>
				</div>
				
				<div class="row">
					<graphrenderer selection="selection" query-definition="queryDefinition" query-graph="selection.graph" incoming-bridges='toBridges(selection.graph)' outgoing-bridges='fromBridges(selection.graph)' ng-if="'graph' == selection.mode"></graphrenderer>
				</div>
	
				<div class="row">
					<bridgedetail selection="selection" query-definition="queryDefinition" ng-if="'bridge' == selection.mode"></bridgedetail>
				</div>
	
			</div>
		
		</div>

		<div class="row">
			<button type="submit" class="btn btn-default" ng-show="true"
				ng-click="save()">
				<span class="glyphicon glyphicon-save"></span> Save
			</button>
			<button ng-click="showquerywindow()" class="btn btn-primary btn-sm">
				<span class="glyphicon glyphicon-education"></span> Modify Query
			</button>
		</div>
	</form>


	<div class="modal fade ng-scope" 
		id="queryModal" tabindex="-1" role="dialog"
		aria-labelledby="myTrackLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Edit query</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
  						<label>Query:</label>
  						<textarea class="form-control" rows="5"  style="font-family:monospace;" ng-model="queryDefinition.sparqlQuery">{{queryDefinition.sparqlQuery}}</textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" ng-click="generatequery()">
						<span class="glyphicon glyphicon-save"></span> Reset
					</button>
					<button type="submit" class="btn btn-primary" ng-click="updatequery()">
						<span class="glyphicon glyphicon-save"></span> Save
					</button>
					<button type="submit" class="btn btn-primary" ng-click="emptyquery()">
						<span class="glyphicon glyphicon-save"></span> Clear
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="clear()">
						<span class="glyphicon glyphicon-ban-circle"></span> Close
					</button>
				</div>
			</div>
		</div>
	</div>

</div>