<div ng-controller='TermTreeController' ng-init="getRootTerms()">
	<!-- Browse -->
	<ul class="treeNode" ng-show="!sparqlError">
		<li class="treeNode" ng-repeat="term in rootTerms">
			<term-tree-node></term-tree-node>
		</li>
	</ul>
	<div class="modal-footer" ng-show="multiValued" >
	<button type="submit" class="btn btn-primary" ng-click="computeSelection()">
    	<span class="glyphicon glyphicon-save"></span> Select
    </button>
    </div>
	<div ng-show="sparqlError" class="alert alert-danger">
		<strong>Could not launch query:</strong> {{sparqlErrorText}}
	</div>
</div>