<div ng-show="featureselect">
	<div class="row">
		<div>Track: {{featureselect.trackName}}</div>
		<div class="checkbox">
			<label> <input type="checkbox"
				ng-model="featureselect.retrieve"> Retrieve features
			</label>
		</div>
		Criteria:
		<div class="btn btn-primary"
			ng-repeat="crit in featureselect.criteria"
			ng-click="selectCriterion(crit)">{{crit.type}}</div>
		<div class="btn btn-primary" ng-click="addCriterion()">+</div>
		<div ng-include="detailUrl"></div>
	</div>
	<div class="row">
		<criteriondetail criterion="activeCriterion"
			supported-feature-types="featureselect.queryTypes"></criteriondetail>
	</div>
</div>