<div class="input-group">
	<span class="input-group-addon">Assembly</span> <select
		class="form-control" ng-model="criterion.contig">
		<option ng-repeat="contig in ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','X','Y']">{{contig}}</option>
	</select>
</div>
<div class="input-group">
	<span class="input-group-addon">start</span> <input
		class="form-control" type="number"
		ng-model="criterion.start"></input>
</div>
<div class="input-group">
	<span class="input-group-addon">end</span> <input class="form-control"
		type="number" ng-model="criterion.end"
		greater-than="{{criterion.start}}"></input>
</div>
<div class="input-group">
	<span class="input-group-addon">Strand</span> <select
		class="form-control" ng-model="criterion.strand">
		<option value=null>Any</option>
		<option value=true>Positive</option>
		<option value=false>Negative</option>
	</select>
</div>
</div>