<div class="input-group">
		<div class="checkbox">
			<label> <input type="checkbox"
				ng-model="criterion.exactMatch"> Exact Match
			</label>
		</div>
</div>
<div class="input-group" ng-show="criterion.exactMatch">
	<span class="input-group-addon">Value</span> <input class="form-control"
		type="integer" ng-model="criterion.minInteger"></input>
</div>
<div class="input-group" ng-show="!criterion.exactMatch">
	<span class="input-group-addon">Min</span> <input class="form-control"
		type="integer" ng-model="criterion.minInteger"></input>
</div>
<div class="input-group" ng-show="!criterion.exactMatch">
	<span class="input-group-addon">Max</span> <input class="form-control"
		type="integer" ng-model="criterion.maxInteger"
		greater-than="{{criterion.minInteger}}"></input>
</div>